/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

#actualMeasurement {
    text-align: center;
}

p.measurement {
    font-size: 3em;
    margin: 0.3em;
}

div#trends {
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
