@{
    ViewData["Title"] = "Home Page";
}
<div id="actualMeasurement">
    <p class="measurement">20 °C</p>
    <p class="measurement">65% RH</p>
    <p>Senast uppdaterad för 3 minuter sen</p>
</div>

<div id="trends">
    <img src="~/images/samplechart.png" />
</div>
